.todoMain {
  padding: 0.1px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(55, 96, 98);

  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  background-color: inherit;
  width: 100%;
  height: 115px;
}

.input {
  width: 214px;
  padding: 10px;
  margin: 20px 5px;
  font-size: larger;
  border-style: none;
  border-radius: 6px;
  outline-style: none;
}

@media (max-width: 350px) {
  .input {
    width: 200px;
  }
}

@media (max-width: 300px) {
  .input {
    width: 170px;
  }
}

.button {
  width: 65px;
  padding: 6px;
  font-size: larger;
}

.buttonDel {
  margin: 10px;
  color: antiquewhite;
  background-color: rgb(220, 16, 16);
  padding: 4px;
  font-size: medium;
}

.button:hover,
.buttonDel:hover {
  cursor: pointer;
}

.buttonDelBlock {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.todoEmpty {
  margin-bottom: 20px;
  color: rgb(137, 168, 170);
}
