.todoEdit {
  float: left;
  overflow: hidden;
  width: 80%;
  height: 30px;
  background-color: antiquewhite;
  padding: 10px;
  margin: 15px 10px;
  font-size: larger;
  border-style: none;
  border-radius: 6px;
  outline-style: none;
}

.todo {
  overflow: hidden;
  width: 64%;
  height: 43px;
  background-color: rgb(175, 201, 202);
  padding: 2px 10px;
  margin: 0 5px 0 10px;
  font-size: x-large;
  border-style: none;
  border-radius: 6px;
  outline-style: none;
}

@media (min-width: 600px) {
  .todo {
    width: 400px;
  }
}

@media (min-width: 800px) {
  .todo {
    width: 400px;
  }
  .todoEdit {
    width: 300px;
  }
}

@media (min-width: 1400px) {
  .todoEdit {
    width: 390px;
  }
}

.check {
  width: 20px;
  height: 20px;
}

.button {
  padding: 5px;
  margin: 10px 0;
  font-size: large;
}

.buttonDel {
  margin: 20px;
  color: antiquewhite;
  background-color: orangered;
  padding: 6px;
  font-size: larger;
}

.button,
.buttonDel:hover {
  cursor: pointer;
}

.listItem {
  width: 94%;
  margin: 5px;
  background-color: rgb(175, 201, 202);
  border-radius: 6px;
}
