.button {
  margin-right: 7px;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 50px;
  cursor: pointer;
  background-color: #bedaf6;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #d1e5f9;
}

.button:active {
  background-color: #bedaf6;
}
